.post {
    color: black;
}

.post p {
    margin: 1rem 2rem;
}

.postFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.postFooterInfo {
    display: flex;
    flex-direction: row;
}

.postFooterInfo div {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.postFooterRead {
    margin: 1rem 2rem;
}

.postFooter * {
    margin: 0.4rem;
}

.writePost {
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
}

.writePostInput {
    margin: 2rem;
}

.writePostButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 2rem;
}

.writePostButtons Button {
    margin: 0 1rem;
}

.viewPost {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    color: black;
}

.viewPostTitle {
    margin: 1rem 2rem;
    font-size: 3rem;
}

.viewPostRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 2rem;
}